<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <extensions>
    <add asembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target name="FileLogger" xsi:type="File" fileName="c:\temp\LibraryApp.txt"/>
  </targets>

  <rules>
    <logger name="*" minLevel="Debug" writeTo="FileLogger" />
  </rules>
</nlog>